body {
  font-family: Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #0d0d0d;
  color: #fff;
}

.questionContainer {
  text-align: center;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: 2px solid #2f2f2f;
  transition: border-color 0.3s;
}

input[type="text"]:focus {
  border-color: #acacac;
}

button {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #00a67d;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #df3079;
}
