* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #0d0d0d;
  color: #fff;
}

h1 {
  color: #f22c3d;
}

h2 {
  color: #df3079;
}

h3 {
  color: #2e95d3;
}

.header {
  padding: 10px 0;
}

li {
  padding: 10px 0;
}

.questionContainer {
  text-align: center;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
}

input[type="text"] {
  padding: 10px;
  margin: 10px 10px;
  border-radius: 5px;
  border: 2px solid #2f2f2f;
  transition: border-color 0.3s;
}

input[type="text"]:focus {
  border-color: #acacac;
}

button {
  margin: 10px 0;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #00a67d;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #df3079;
}

h4 {
  margin: 10px 0;
  color: #f22c3d;
}

#btnClear {
  background-color: #df3079;
}
